/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
h1, .h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
h2, .h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
h3, .h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
h4, .h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
/*
$para-blue: #0F12AA;
$para-light-blue : #50BEE3;
$para-purple: #AA0F9D;
$para-green: #0FAA4B;
*/
/*
$para-blue: #0F12AA;
$para-light-blue : #4139ef;
$para-purple: #4A4E9F;
$para-green: #3A8627;
*/
/*
$averta-extrabold : 'avertaextrabold','avenir', $restofstack ;
$averta-bold : 'avertabold', 'avenir', $restofstack ;
$averta-regular : 'avertaregular', 'avenir', $restofstack ;
$averta-light : 'avertalight', 'avenir', $restofstack ;
$averta-light-italic : 'avertalight_italic', 'avenir', $restofstack ;
*/
.clearfix:before, .blob-tags:before, .blob-links:before,
.clearfix:after,
.blob-tags:after,
.blob-links:after {
  content: " ";
  display: table; }

.clearfix:after, .blob-tags:after, .blob-links:after {
  clear: both; }

.clearfix, .blob-tags, .blob-links {
  *zoom: 1; }

html {
  color: #444444;
  background: #F9F9F9;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a, a:visited {
  color: #18E04F;
  text-decoration: none; }

a:hover {
  color: #6ef092; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 15px/26px "averta", "avenir", sans-serif;
  font-weight: 100; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
  padding: 0;
  width: 100%; }
  .header-container .wrapper {
    padding: 8px 0; }
  .header-container .brand {
    height: 100%;
    width: auto;
    margin: 0 auto;
    position: relative; }
    .header-container .brand .logo {
      display: block;
      max-width: 200px;
      margin: 0 auto; }

p {
  font-size: 1.3em;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300; }

a.button, a.button-white {
  border: 1px solid #6A6969;
  color: #6A6969;
  padding: .5em 1em;
  margin: 1em;
  display: inline-block;
  border-radius: 2px; }

a.button:hover, a.button-white:hover {
  background: #6A6969;
  color: white; }

a.button-white {
  border: 1px solid white;
  color: white; }

a.button-white:hover {
  background: white;
  color: black; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "averta", "avenir", sans-serif;
  color: #4A4A4A;
  font-weight: normal; }
  h1 a, .h1 a, h1 a:visited, .h1 a:visited, h2 a, .h2 a, h2 a:visited, .h2 a:visited, h3 a, .h3 a, h3 a:visited, .h3 a:visited, h4 a, .h4 a, h4 a:visited, .h4 a:visited {
    color: inherit;
    text-decoration: none; }
  h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover {
    color: #18E04F; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  font-weight: normal; }

h3, .h3 {
  font-weight: 800;
  color: #FF7172; }

h4, .h4 {
  font-weight: 300;
  font-style: italic;
  color: #FF7172; }

.seperator {
  margin: 2em 0;
  background: #4A4A4A;
  height: 1px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.social-media-links {
  text-align: center;
  display: block; }
  .social-media-links a, .social-media-links a:visited {
    color: black;
    font-size: 2em; }
    .social-media-links a span, .social-media-links a:visited span {
      width: 2em; }
  .social-media-links a:hover {
    color: #1FB7AF; }

.interests .social-media-links {
  padding-bottom: 2em; }
.interests .inspirations h4, .interests .inspirations .h4 {
  color: #96C421; }

.footer-container h1, .footer-container .h1 {
  font-weight: normal;
  margin-top: 0; }
.footer-container h2, .footer-container .h2 {
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: normal; }
.footer-container .social-media-links {
  padding-bottom: 50px; }

.wrapper .typeform-share.button {
  display: inline-block;
  margin: 1em auto;
  float: none; }

blockquote {
  font-family: "averta", "avenir", sans-serif;
  font-size: 2em;
  letter-spacing: .18em;
  font-weight: bold;
  color: black;
  line-height: 150%;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

blockquote.small {
  font-size: 1.5em;
  text-align: left;
  color: #4A4A4A;
  letter-spacing: .08em;
  font-weight: 300; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav li.active a {
  color: #FF7172;
  font-weight: 500; }

nav a, nav a:visited {
  display: block;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #6A6969;
  font-family: "avertathin", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: .85em;
  border-bottom: 2px solid transparent;
  -webkit-transition: border,color .5s;
          transition: border,color .5s; }

nav li:not(.active) a:hover {
  color: #1FB7AF;
  opacity: 1;
  border-bottom: 2px solid #1FB7AF; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1, .main article .h1 {
  font-size: 2em; }

.main aside {
  padding: 0px 5% 10px; }

.footer-container footer {
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
    Story Page
   ========================================================================== */
.story-page p {
  font-size: 1.5em; }

#contact-bar {
  display: none; }

.blob, .blob-tags span, .blob-links a {
  box-shadow: 1px 1px 0px 0px rgba(3, 3, 3, 0.2);
  padding: 1em;
  background: white;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  margin: 1em 1.5em;
  float: left;
  background: black;
  color: white; }

.blob-links {
  text-align: center; }
  .blob-links a {
    text-decoration: none;
    display: inline-block;
    float: none; }

img {
  max-width: 100%; }

.extra-margin-tb {
  margin: 2em 0; }

img.full-width {
  width: 100%;
  display: block; }

.para, .img-bg {
  min-height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .para::before, .img-bg::before, .para::after, .img-bg::after {
    content: ' ';
    height: 1px;
    display: block; }
  .para h1, .img-bg h1, .para .h1, .img-bg .h1, .para h2, .img-bg h2, .para .h2, .img-bg .h2, .para h3, .img-bg h3, .para .h3, .img-bg .h3, .para h4, .img-bg h4, .para .h4, .img-bg .h4, .para h5, .img-bg h5, .para .h5, .img-bg .h5, .para p, .img-bg p {
    color: white; }
  .para.blue, .blue.img-bg {
    background: #2CA1A3; }
  .para.light-blue, .light-blue.img-bg {
    background: #38C4C7; }
  .para.purple, .purple.img-bg {
    background: #9930BB; }
  .para.green, .green.img-bg {
    background: #96C421; }
  .para.light-red, .light-red.img-bg {
    background: #FF7172; }

.img-bg {
  position: relative;
  background: no-repeat center bottom scroll;
  background-size: 100% auto;
  background-size: cover; }
  .img-bg.hk {
    background-image: url(../img/hk.jpg); }
  .img-bg.ga-1 {
    background-image: url(../img/ga-2.jpg);
    padding-bottom: 40%; }
    .img-bg.ga-1 h1, .img-bg.ga-1 .h1, .img-bg.ga-1 h2, .img-bg.ga-1 .h2, .img-bg.ga-1 h3, .img-bg.ga-1 .h3, .img-bg.ga-1 h4, .img-bg.ga-1 .h4, .img-bg.ga-1 h5, .img-bg.ga-1 .h5, .img-bg.ga-1 p {
      color: gray;
      font-weight: bold; }
    .img-bg.ga-1 h3, .img-bg.ga-1 .h3 {
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5); }
  .img-bg .caption {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: .75em;
    font-weight: 300;
    left: 4px;
    bottom: 2px; }

.inspirations {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  .inspirations .side {
    margin-left: .5em;
    border-left: 1px solid gray;
    padding-left: 1em; }
  .inspirations h1, .inspirations .h1, .inspirations h2, .inspirations .h2, .inspirations h3, .inspirations .h3, .inspirations h4, .inspirations .h4, .inspirations p {
    text-align: left;
    max-width: none; }

.html-box {
  background: black;
  margin: 1em auto;
  padding: 1em;
  max-width: 200px; }
  .html-box pre {
    color: white; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
nav {
  margin: .5em 0;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }

nav ul li {
  float: left;
  width: 46%;
  padding: 0 2%;
  margin-bottom: 0;
  min-width: 4em; }

nav li:first-child a {
  margin-left: 0; }

nav li:last-child a {
  margin-right: 0; }

/* 
==================================================================================================================
480+
==================================================================================================================
*/
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  .oldie nav a {
    margin: 0 0.7%; } }
/* 
==================================================================================================================
768+
==================================================================================================================
*/
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  nav {
    max-width: 700px; }

  #contact-bar {
    position: fixed;
    bottom: -31px;
    height: 30px;
    width: 100%;
    -webkit-transition: top .2s ease-in-out, box-shadow .2s;
            transition: top .2s ease-in-out, box-shadow .2s;
    display: block; }
    #contact-bar .social-media-links {
      border: 1px solid rgba(0, 0, 0, 0.25);
      padding: 5px 0;
      background-color: rgba(255, 255, 255, 0.9);
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
      #contact-bar .social-media-links a {
        font-size: 20px;
        color: #444444; }
      #contact-bar .social-media-links a:hover {
        color: #FF7172; }
      #contact-bar .social-media-links span {
        height: 20px; }

  #contact-bar.up {
    bottom: 0;
    display: block; }

  body {
    padding-top: 50px; }

  .nav-up {
    top: -69px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }

  .nav-down {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }

  .stay-there {
    position: absolute;
    top: 0;
    left: 0; }

  header {
    z-index: 1000;
    background-color: white;
    position: fixed;
    top: 0;
    -webkit-transition: top .2s ease-in-out, box-shadow .2s;
            transition: top .2s ease-in-out, box-shadow .2s;
    width: 100%; }
    header .brand {
      float: left;
      height: 100%;
      width: auto; }
    header .wrapper {
      height: 50px; }

  /* ============
      WIDE: Menu
     ============ */
  nav {
    float: right;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 12px; }
    nav li a {
      width: 6.25em; }

  .header-container .wrapper {
    position: relative; }

  .header-container .brand .logo {
    max-width: 300px; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%; }

  blockquote.big {
    font-size: 2.5em; }

  .inspirations .side {
    margin-left: 2em;
    padding-left: 2em; } }
/* 
==================================================================================================================
1140+
==================================================================================================================
*/
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; }

  blockquote.big {
    font-size: 3em; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.center {
  text-align: center; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  .h2,
  h3,
  .h3 {
    orphans: 3;
    widows: 3; }

  h2, .h2,
  h3,
  .h3 {
    page-break-after: avoid; } }
body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
h1, .h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
h2, .h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
h3, .h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
h4, .h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
