/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
html {
  color: #222;
  background: white;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px "Open Sans", sans-serif; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ===================
    ALL: Orange Theme
   =================== */
h1, h2, h3, h4 {
  margin: 1.25em auto;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal; }

h1, h2, h3, h4 {
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: .15em; }

.footer-container h1 {
  font-weight: normal; }
.footer-container h2 {
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: normal; }
.footer-container .social-media-links {
  text-align: center; }
  .footer-container .social-media-links a {
    color: white;
    font-size: 2em; }
  .footer-container .social-media-links a:hover, .footer-container .social-media-links a:visited {
    color: black; }

blockquote {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  letter-spacing: .18em;
  font-weight: bold;
  color: black;
  line-height: 150%;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav a {
  display: block;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #6A6969;
  border-bottom: 2px solid transparent; }

nav a:hover,
nav a:visited {
  color: #6A6969; }

nav a:hover {
  border-bottom: 2px solid #6A6969; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  padding: 0px 5% 10px; }

.footer-container footer {
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.blob-tags span {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(3, 3, 3, 0.2);
  -moz-box-shadow: 1px 1px 0px 0px rgba(3, 3, 3, 0.2);
  box-shadow: 1px 1px 0px 0px rgba(3, 3, 3, 0.2);
  padding: 1em;
  background: white;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  margin: 1em 1.5em;
  float: left;
  color: #C9DADE; }

img {
  max-width: 100%; }

.extra-margin-tb {
  margin: 2em 0; }

img.full-width {
  width: 100%;
  display: block; }

.para::before, .para::after {
  content: ' ';
  height: 1px;
  display: block; }
.para h1, .para h2, .para h3, .para h4, .para h5, .para p {
  color: white; }
.para.blue {
  background: #0F12AA; }
.para.purple {
  background: #AA0F9D; }
.para.green {
  background: #0FAA4B; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
nav {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

nav a {
  float: left;
  width: 27%;
  margin: 0 1.7%;
  padding: 5px 2%;
  margin-bottom: 0;
  min-width: 4em; }

nav li:first-child a {
  margin-left: 0; }

nav li:last-child a {
  margin-right: 0; }

/* 
==================================================================================================================
480+
==================================================================================================================
*/
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
/* 
==================================================================================================================
768+
==================================================================================================================
*/
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside {
    /*  -webkit-box-shadow: 0 5px 10px #aaa;
         -moz-box-shadow: 0 5px 10px #aaa;
              box-shadow: 0 5px 10px #aaa;
              */ }

  /* ============
      WIDE: Menu
     ============ */
  nav {
    width: 100%; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%; }

  blockquote.big {
    font-size: 2.5em; } }
/* 
==================================================================================================================
1140+
==================================================================================================================
*/
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; }

  blockquote.big {
    font-size: 3em; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.center {
  text-align: center; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .blob-tags:before,
.clearfix:after,
.blob-tags:after {
  content: " ";
  display: table; }

.clearfix:after, .blob-tags:after {
  clear: both; }

.clearfix, .blob-tags {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
